<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - Geo Center</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="card">
    <h1>Geo Center</h1>
    <h3 style="text-align:center;">Acesso Restrito</h3>

    <form method="POST" action="/login">
        <input name="usuario" placeholder="Usuário" required>
        <input name="senha" type="password" placeholder="Senha" required>

        <button type="submit">Entrar</button>
    </form>
</div>

</body>
</html>